.dispaly {
  display: block;
}

.hide  {
  display: none;
}


/*****************************************************/
.dropdown {
  display: flex;
  border-bottom: 2px solid rgb(33, 150, 239);
  list-style: none;
   width: 280px;
  margin-left: 231px;
  padding-left: 0px;

}
.dropdown > li{
  margin: 20px;
  font-size: 16px;
}
.dropdown-content {
  display: inline-block;
  position: absolute;
  list-style: none;
  min-width: 160px;
  border: 2px solid rgb(33, 150, 239);
  margin-top: 42px;
  margin-left: -77px;
  padding: 0px;
  z-index: 1;

}
.dropdown-content li {
  margin: 20px;
  font-size: 14px;
  font-size: 600;

}
.dropdown li:hover {
    
  color: rgb(33, 150, 239);
}

.dropdown-content>li:hover {
    
  color: rgb(33, 150, 239);
}


.dropdown-content-none {

  display: none;

}